body{
    margin:0;
}
.leaflet-popup-content p {
    margin: 0;
    font: 11px Verdana, sans-serif;
}

#map{
    height: 100vh;
    width: 100vw;
    display: inline-block;
}


.range-slider {
    width: 55%;
}

.step {
	width: 20%;
}

.step img {
	width: 50%;
    align-items: center;
}


#forward {
    float: right;
}

#reverse {
    float: left;
}

.sequence-control-container{
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
    font: 11px Verdana, sans-serif;
}

.legend-control-container{
    width: 200px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 15px;
    font-weight:bold;
    text-align: center;
    border: solid gray 1px;
    font: 15px Verdana, sans-serif;
}

.legend-control-container p{
    margin: 0;
}
nav {
    position: fixed;
    height: 70px;
    margin-bottom: 15px;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(189,189,189,0.8);
    text-align: center;
    border: solid gray 1px;
    font: 15px Verdana, sans-serif;
    font-weight: bold;
}